* {
    font-family: 'Roboto Mono', monospace;
}
body {
  background-color: #F4D6CC70;
  margin: 0;
}
nav {
    font-size: x-large;
    color: #32373B;
    display: flex;
    justify-content: space-around;
    padding: .5em;
}

h1 > a {
    display: inline;
    -webkit-transition: color 1s;
    transition: color 1s;
    text-decoration: none;
}

h1:hover > a {
    color: #0A9396;
}

li {
    padding: .5em;
    display: inline;
}

a, li {
    color: #32373B;
    list-style-type: none;
    -webkit-transition: color 1s;
    transition: all 0.5s ease-out;
}

a:hover{
    color: #BB3E03;
}


#container {
    /* background-color: ; */
    display: flex;
    flex-direction: column;
    padding: 1em 6em 6em 6em;
    align-items: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5em;
    /* background-image: linear-gradient(#9B222650, #CA670250, #005F7350); */
    background-size: contain;
    margin: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5em;
}

.bio {
    padding: 2em;
    width: 100%;
}

#intro {
    text-align: center;
    width: 60%;
}

#bio_pic {
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
}

/* experience page */

#exp-container {
    display: flex;
    justify-content: space-around;
    padding: 1em 6em 6em 6em;
    align-items: center;
    text-align: center;
}

.experience {
    padding: 2em 3em;
}

h4 {
    padding-top: 0%;
}